<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to text analyzer</h1>
    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="150" rows="10"></textarea><br>
        <input type="checkbox" name="removepunc"> Remove Punctuations <br> 
        <input type="checkbox" name="fullcaps"> UPPER CASE <br> 
        <input type="checkbox" name="newlineremover"> NEW LINE REMOVER <br> 
        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>